<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <h2>Lights Data:</h2>

  
    <ul>
      <% for (let i = 0; i < lightsOutToHtml.length; i++) { %>
        <li>Light ID: <%= lightsOutToHtml[i].streetLightId %>, Name: <%= lightsOutToHtml[i].streetLightName %>, Zone: <%= lightsOutToHtml[i].streetLightZone %></li>
      <% } %>
    </ul>
    <h2>Lights Data stringify:</h2>
<pre><%= JSON.stringify(lightsOutToHtml) %></pre>

 


  </body>
</html>
